@import-normalize;

:root {
  --chestnut: var(--chestnut) #780000;
  --crimson: var(--crimson) #c1121f;
  --putty: var(--putty) #fdf0d5;
  --indanthrone: var(--indanthrone) #003049;
}

/* --------------------*/
/* Root style          */
/* --------------------*/

html,
body {
  margin: 0;
  height: 100%;
}

/* had background-image first without rest on same line */
html {
  /* background-image: url(../images/background-image.jpg); */
  background: url(../images/background.jpg) no-repeat center center fixed;
  /* background-repeat: no-repeat;
    background-position: center fixed; */
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

#root {
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

/* Sticky footer */

/* body > footer {
  position: sticky;
  top: 100vh;
} */

/* --------------------*/
/* Scrollbar           */
/* --------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37444d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a2024;
}

/* --------------------*/
/* Logo                */
/* --------------------*/

.initials {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 3px solid black;
  margin: 1rem;
  padding: 1rem;
  color: var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 65px;
  height: 50px;
  line-height: 50px;
  margin-left: 2rem;
}

.animation {
  animation-name: color-flow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-flow {
  0% {
    background-color: var(--chestnut);
  }
  20% {
    background-color: var(--putty);
  }
  40% {
    background-color: var(--putty);
  }
  80% {
    background-color: var(--crimson);
  }
  100% {
    background-color: var(--chestnut);
  }
}

/* --------------------*/
/* Navbar             */
/* --------------------*/

.navbar {
  background-color: #003049;
  /* width: 100vw; */
  height: 19vh;
  display: flex;

  /* flex-direction: row; */
}

.navBtnCont {
  display: flex;
  justify-content: space-evenly;
  width: 69%;
}

.navBtn {
  margin-top: 2rem;
  list-style: none;
}

.active {
  border-bottom: 5px var(--chestnut) solid;
  color: #fdf0d5;
}

.navBtnLink:hover {
  border-bottom: 5px var(--chestnut) solid;
  color: #fdf0d5;
}

.navBtnLink {
  text-decoration: none;
  list-style: none;
  color: var(--light);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem calc(100vw - 1000px) / 2;
  z-index: 10;
}
